  .title {
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }

  .titleContainer {
    text-align: center;
    margin-top: 1rem;
  }
  
  .stockCard {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .cardHeader {
    width: 100%;
    padding: 1rem;
    background-color: #F5F5F5;
    text-align: center;
  }
  
 
  