.title {
  text-align: center;
}

.formWrapper {
  padding: 1rem;
  margin: 1rem;
}
.toteItem,
.itemBlock {
  padding: 1rem;
  margin-bottom: .5rem;
}
.toteScan {
  color: #fff!important;
  background-color: blue!important;
}
.toteScanDisabled {
  color: #fff!important;
  background-color: green!important;
  opacity: .7;
}

.itemBlockLocation {
  font-size: 14px;
}
.jarInput {
  margin-bottom: .2rem!important;
}
.jarInputButton {
  color: #fff!important;
  background-color: blue!important;
  float: right;
}
.jarInputButtonScanned {
  color: #fff!important;
  background-color: green!important;
  opacity: .7;
  float: right;
}
