#page {
	color: white;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 1.4em;
	width: 1189px; /* letter size + landscape orientation */
	height: 886px;
}

#page img {
	width: 100%;
}

.name-container {
	position: relative;
	left: 99px;
	bottom: 206px;
	width: 322px; /* width of the name line */
}

.date-container {
	position: relative;
	left: 794px;
	bottom: 230px;
	width: 260px; /* width of the date line */
}

#name, #date {
	text-align: center; /* centered over the line */
}
