.temp-img {
  max-height: 90%;
  max-width: 90%;
}

.img-preview {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.msg-pop-up {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  height: 200px;
  width: 240px;
  background: rgb(8, 8, 58);
  font-size: 20px;
  border-radius: 30px;
  color: white;
}

@media all and (max-width: 900px) {
  input {
    max-width: 100%;
  }
  .clear-img-btn {
    font-size: 10px;
  }
}
