.add-button {
  height: 50px;
  width: 80px;
  border: none;
  font-size: 12px;
  margin: 10px;
}

.selected {
  border: 1px solid rgba(0, 217, 255, 0.171);
  box-shadow: 2px 3px 4px rgba(0, 0, 255, 0.336);
}

.switchButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.prev-img {
  max-height: 45px;
  cursor: pointer;
  /* width: 80px; */
}

.prev-img:hover {
  opacity: 0.8;
}

.enlargedImg {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 85%;
  max-height: 80%;
  margin: auto;
}

.bigImgSelf {
  max-width: 80%;
  max-height: 700px;
}
